body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3ebe4;
  margin: 0;
  flex-direction: column;
}
#cardContainer {
  display: flex;
}
.textContainer {
  flex-basis: auto;
  background-color: white;
  border-radius: 0 0.8rem 0.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  box-sizing: border-box;
  padding: 2rem 2rem 0 2rem;
  max-width: 20rem;
  
}
.imgContainer {
  flex-basis: auto;
  border-radius: 0.8rem 0 0 0.8rem;
  max-width: 20rem;
}
.desktopImg {
  height: auto;
  width: 100%;
  display: block;
  border-radius: 0.8rem 0 0 0.8rem;
}
.mobileImg {
    display: none;
}
h1 {
  margin: 0;
  letter-spacing: 0.2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: grey;
}
h2 {
  font-family: "Fraunces", serif;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 1;
  margin: 1.2rem 0 1.2rem 0rem;
}
p {
  font-size: 0.9rem;
  color: grey;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
}
.pricing {
  display: flex;
  gap: 1rem;
  margin: 0.8rem 0 0.8rem 0;
}
.discountedPrice {
  font-size: 1.8rem;
  font-family: "Fraunces", serif;
  color: #3d8168;
}
.regularPrice {
  align-self: center;
  text-decoration: line-through;
  font-size: 0.8rem;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  min-height: 3rem;
  min-width: 100%;
  background-color: #3d8168;
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.cartIcon {
  width: 1rem;
  height: auto;
}

@media only screen and (max-width: 600px) {
  #cardContainer {
    flex-direction: column;
  }
  .mobileImg {
    display: block;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .desktopImg{
    display: none;
  }
  .textContainer {
    border-radius: 0 0 0.5rem 0.5rem;
    margin: 0;
    gap: 0.5rem;
    padding-bottom: 1rem;
  }
  body {
    min-height: 90vh;
  }
  .pricing, h2 {
    margin: 0;
  }
}
